@import "tailwindcss";

body {
  @apply m-0 min-w-80 min-h-screen bg-linear-to-br from-gray-100 to-gray-300 text-gray-800;
}

#root {
  @apply w-full min-h-screen;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-linear-to-br from-gray-900 to-gray-800 text-gray-100;
  }
}
